MICROSOFT_FOUNDRY_ENDPOINT=https://<tu-recurso>.cognitiveservices.azure.com
MICROSOFT_FOUNDRY_API_KEY=<tu-key>
MICROSOFT_FOUNDRY_DEPLOYMENT_NAME=MAI-Image-2.5
MICROSOFT_FOUNDRY_MODEL_NAME=MAI-Image-2.5
IMAGE_PROVIDER=mai
MICROSOFT_FOUNDRY_API_VERSION=2026-06-02
PORT=3030
ALLOWED_ORIGIN=http://localhost:5176